In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv("fruit_data_with_colors.txt", delimiter = '\t')

In [4]:
df.head(10)

   fruit_label fruit_name fruit_subtype  mass  width  height  color_score
0            1      apple  granny_smith   192    8.4     7.3         0.55
1            1      apple  granny_smith   180    8.0     6.8         0.59
2            1      apple  granny_smith   176    7.4     7.2         0.60
3            2   mandarin      mandarin    86    6.2     4.7         0.80
4            2   mandarin      mandarin    84    6.0     4.6         0.79
5            2   mandarin      mandarin    80    5.8     4.3         0.77
6            2   mandarin      mandarin    80    5.9     4.3         0.81
7            2   mandarin      mandarin    76    5.8     4.0         0.81
8            1      apple      braeburn   178    7.1     7.8         0.92
9            1      apple      braeburn   172    7.4     7.0         0.89

In [5]:
X = df.drop(columns = ["fruit_name", "fruit_label","fruit_subtype"],axis = "column")

In [6]:
X.head()

   mass  width  height  color_score
0   192    8.4     7.3         0.55
1   180    8.0     6.8         0.59
2   176    7.4     7.2         0.60
3    86    6.2     4.7         0.80
4    84    6.0     4.6         0.79

In [7]:
X

     mass  width  height  color_score
0     192    8.4     7.3         0.55
1     180    8.0     6.8         0.59
2     176    7.4     7.2         0.60
3      86    6.2     4.7         0.80
4      84    6.0     4.6         0.79
5      80    5.8     4.3         0.77
6      80    5.9     4.3         0.81
7      76    5.8     4.0         0.81
8     178    7.1     7.8         0.92
9     172    7.4     7.0         0.89
10    166    6.9     7.3         0.93
11    172    7.1     7.6         0.92
12    154    7.0     7.1         0.88
13    164    7.3     7.7         0.70
14    152    7.6     7.3         0.69
15    156    7.7     7.1         0.69
16   1000    7.6     7.5         0.67
17    168    7.5     7.6         0.73
18    162    7.5     7.1         0.83
19    162    7.4     7.2         0.85
20    160    7.5     7.5         0.86
21    156    7.4     7.4         0.84
22    140    7.3     7.1         0.87
23    170    7.6     7.9         0.88
24    342    9.0     9.4         0.75
25    356    9.2     9.2         0.75
26    362    9.6     9.2         0.74
27    204    7.5     9.2         0.77
28    140    6.7     7.1         0.72
29    160    7.0     7.4         0.81
30    158    7.1     7.5         0.79
31    210    7.8     8.0         0.82
32    164    7.2     7.0         0.80
33    190    7.5     8.1         0.74
34    142    7.6     7.8         0.75
35    150    7.1     7.9         0.75
36    160    7.1     7.6         0.76
37    154    7.3     7.3         0.79
38    158    7.2     7.8         0.77
39    154    7.3     7.5         0.76
40  30000    7.1     7.5         0.78
41    180    7.6     8.2         0.79
42    154    7.2     7.2         0.82
43    194    7.2    10.3         0.70
44    200    7.3    10.5         0.72
45    186    7.2     9.2         0.72
46    216    7.3    10.2         0.71
47    196    7.3     9.7         0.72
48    174    7.3    10.1         0.72
49    132    5.8     8.7         0.73
50    130    6.0     8.2         0.71
51    116    6.0     7.5         0.72
52    118    5.9     8.0         0.72
53    120    6.0     8.4         0.74
54    116    6.1     8.5         0.71
55    116    6.3     7.7         0.72
56    116    5.9     8.1         0.73
57    152    6.5     8.5         0.72
58    118    6.1     8.1         0.70

In [8]:
Y = df["fruit_label"]

In [9]:
Y.head()

0    1
1    1
2    1
3    2
4    2
Name: fruit_label, dtype: int64

In [10]:
trainX = np.array(X[:50])
trainY = np.array(Y[:50])
testX = np.array(X[50:])
testY = np.array(Y[50:])

In [11]:
trainX

array([[1.92e+02, 8.40e+00, 7.30e+00, 5.50e-01],
       [1.80e+02, 8.00e+00, 6.80e+00, 5.90e-01],
       [1.76e+02, 7.40e+00, 7.20e+00, 6.00e-01],
       [8.60e+01, 6.20e+00, 4.70e+00, 8.00e-01],
       [8.40e+01, 6.00e+00, 4.60e+00, 7.90e-01],
       [8.00e+01, 5.80e+00, 4.30e+00, 7.70e-01],
       [8.00e+01, 5.90e+00, 4.30e+00, 8.10e-01],
       [7.60e+01, 5.80e+00, 4.00e+00, 8.10e-01],
       [1.78e+02, 7.10e+00, 7.80e+00, 9.20e-01],
       [1.72e+02, 7.40e+00, 7.00e+00, 8.90e-01],
       [1.66e+02, 6.90e+00, 7.30e+00, 9.30e-01],
       [1.72e+02, 7.10e+00, 7.60e+00, 9.20e-01],
       [1.54e+02, 7.00e+00, 7.10e+00, 8.80e-01],
       [1.64e+02, 7.30e+00, 7.70e+00, 7.00e-01],
       [1.52e+02, 7.60e+00, 7.30e+00, 6.90e-01],
       [1.56e+02, 7.70e+00, 7.10e+00, 6.90e-01],
       [1.00e+03, 7.60e+00, 7.50e+00, 6.70e-01],
       [1.68e+02, 7.50e+00, 7.60e+00, 7.30e-01],
       [1.62e+02, 7.50e+00, 7.10e+00, 8.30e-01],
       [1.62e+02, 7.40e+00, 7.20e+00, 8.50e-01],
       [1.60e+02, 7.50e+00, 7.50e+00, 8.60e-01],
       [1.56e+02, 7.40e+00, 7.40e+00, 8.40e-01],
       [1.40e+02, 7.30e+00, 7.10e+00, 8.70e-01],
       [1.70e+02, 7.60e+00, 7.90e+00, 8.80e-01],
       [3.42e+02, 9.00e+00, 9.40e+00, 7.50e-01],
       [3.56e+02, 9.20e+00, 9.20e+00, 7.50e-01],
       [3.62e+02, 9.60e+00, 9.20e+00, 7.40e-01],
       [2.04e+02, 7.50e+00, 9.20e+00, 7.70e-01],
       [1.40e+02, 6.70e+00, 7.10e+00, 7.20e-01],
       [1.60e+02, 7.00e+00, 7.40e+00, 8.10e-01],
       [1.58e+02, 7.10e+00, 7.50e+00, 7.90e-01],
       [2.10e+02, 7.80e+00, 8.00e+00, 8.20e-01],
       [1.64e+02, 7.20e+00, 7.00e+00, 8.00e-01],
       [1.90e+02, 7.50e+00, 8.10e+00, 7.40e-01],
       [1.42e+02, 7.60e+00, 7.80e+00, 7.50e-01],
       [1.50e+02, 7.10e+00, 7.90e+00, 7.50e-01],
       [1.60e+02, 7.10e+00, 7.60e+00, 7.60e-01],
       [1.54e+02, 7.30e+00, 7.30e+00, 7.90e-01],
       [1.58e+02, 7.20e+00, 7.80e+00, 7.70e-01],
       [1.54e+02, 7.30e+00, 7.50e+00, 7.60e-01],
       [3.00e+04, 7.10e+00, 7.50e+00, 7.80e-01],
       [1.80e+02, 7.60e+00, 8.20e+00, 7.90e-01],
       [1.54e+02, 7.20e+00, 7.20e+00, 8.20e-01],
       [1.94e+02, 7.20e+00, 1.03e+01, 7.00e-01],
       [2.00e+02, 7.30e+00, 1.05e+01, 7.20e-01],
       [1.86e+02, 7.20e+00, 9.20e+00, 7.20e-01],
       [2.16e+02, 7.30e+00, 1.02e+01, 7.10e-01],
       [1.96e+02, 7.30e+00, 9.70e+00, 7.20e-01],
       [1.74e+02, 7.30e+00, 1.01e+01, 7.20e-01],
       [1.32e+02, 5.80e+00, 8.70e+00, 7.30e-01]])

In [12]:
class KNN:
    def __init__(self,k = 1):
        self.k = k
        
    def euclidian_distance(self,query,X):
        difference = np.array(X) - np.array(query)
        sqrd_diff = np.square(difference)
        sum_sqrd_diff = np.sum(sqrd_diff, axis = 1)
        distance = np.sqrt(sum_sqrd_diff)
        return distance
    
    def nearest_neighbours(self,distance):
        return np.argsort(distance)[:self.k]
    
    def predict(self,query,trainX,trainY):
        ed = self.euclidian_distance(query,trainX)
        nn = self.nearest_neighbours(ed)
        labels_nn = list(trainY[nn])
        return max(labels_nn, key = labels_nn.count)

In [43]:
classifier = KNN(2)

In [44]:
predictions = [classifier.predict(x,trainX,trainY) for x in testX]

In [45]:
predictions

[4, 4, 4, 4, 4, 4, 4, 1, 4]

In [46]:
testY

array([4, 4, 4, 4, 4, 4, 4, 4, 4], dtype=int64)

In [47]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(testY,predictions)

In [48]:
accuracy

0.8888888888888888