In [144]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import log_loss

In [145]:
def halfSqrMean(y_target, model_output):
    return np.square(np.subtract(y_target,model_output)).mean()

In [146]:
columns = [i for i in range(1,12)]
df = pd.read_csv("diabetes.txt",delimiter = "\t",names = columns, header = None)

In [147]:
df.head()

    1    2     3    4    5      6   7   8       9   10   11
0  AGE  SEX   BMI   BP   S1     S2  S3  S4      S5  S6    Y
1   59    2  32.1  101  157   93.2  38   4  4.8598  87  151
2   48    1  21.6   87  183  103.2  70   3  3.8918  69   75
3   72    2  30.5   93  156   93.6  41   4  4.6728  85  141
4   24    1  25.3   84  198  131.4  40   5  4.8903  89  206

In [148]:
x_train, x_test, y_train, y_test = train_test_split(df[columns[:-1]], df[columns[-1]], test_size=0.33, random_state=42)

In [149]:
x_train.head()

     1  2     3       4    5      6   7    8       9    10
261  60  1  25.6      78  195   95.4  91    2  3.7612   87
165  61  1  24.6     101  209  106.8  77    3  4.8363   88
204  48  2  29.2     110  218  151.6  39    6    4.92   98
109  54  2  30.6  103.33  144   79.8  30  4.8  5.1417  101
196  56  2  28.7      99  208  146.4  39    5  4.7274   97

In [150]:
x_train

     1  2     3       4    5      6   7    8       9    10
261  60  1  25.6      78  195   95.4  91    2  3.7612   87
165  61  1  24.6     101  209  106.8  77    3  4.8363   88
204  48  2  29.2     110  218  151.6  39    6    4.92   98
109  54  2  30.6  103.33  144   79.8  30  4.8  5.1417  101
196  56  2  28.7      99  208  146.4  39    5  4.7274   97
..   .. ..   ...     ...  ...    ...  ..  ...     ...  ...
106  55  2  23.4      83  166  101.6  46    4  4.5218   96
270  51  1  23.4      87  220  108.8  93    2  4.5109   82
348  59  2  23.6      73  180  107.4  51    4  4.6821   84
435  53  1  26.5      97  193  122.4  58    3  4.1431   99
102  53  2  22.2     113  197  115.2  67    3  4.3041  100

[296 rows x 10 columns]

In [151]:
x_test.head()

     1  2     3      4    5      6   7     8       9    10
333  57  1  36.1    117  181  108.2  34     5  5.2679  100
137  23  1  18.8     78  145     72  63     2   3.912   86
72   48  1  29.5    131  207  132.2  47     4  4.9345  106
364  35  2  24.1  94.67  155   97.4  32  4.84   4.852   94
73   66  2    26     91  264  146.6  65     4  5.5683   87

In [152]:
y_train.head()

261     39
165    214
204    222
109    232
196    122
Name: 11, dtype: object

In [153]:
y_test.head()

333    270
137     85
72     270
364     58
73     202
Name: 11, dtype: object

In [154]:
x_train = np.array(x_train)
x_test = np.array(x_test)
y_train = np.array(y_train)
y_test = np.array(x_test)

In [155]:
y_train = np.expand_dims(y_train, axis = 0)

In [156]:
numOfExamples = x_train.shape[0]
numOfFeatures = x_train.shape[1]

In [157]:
#x_train = x_train.T
#x_train.shape

In [158]:
#x_train[0].shape

In [159]:
#x_train = x_train.astype(float)

In [160]:
#x_test = x_test.astype(float)

In [161]:
#y_train = y_train.astype(float)

In [162]:
#y_test = y_test.astype(float)

In [163]:
w = np.random.rand(numOfFeatures, 1)
b = np.random.rand()

In [164]:
alpha = 0.1

In [165]:
def sigmoid(z):
    return 1/(1 + np.exp(-z))

In [172]:
for i in range(20000):
    z = np.matmul(w.T, x_train) + b
    J = halfSqrMean(y_train.T, z.T)
    dw = np.mean(np.subtract(z.T, y_train.T) * x_train, dtype = np.float64)   # derivation of MSE with respect to weights
    db = np.mean(np.subtract(z.T, y_train.T), dtype = np.float64)     # derivation of MSE with respect to bias
    w = w - alpha * dw
    b = b - alpha * db

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 296 is different from 10)

In [167]:
J

NameError: name 'J' is not defined

In [168]:
Z = np.matmul(W.T,X_test.T) + b
Z = np.array(Z, dtype='int16')

NameError: name 'W' is not defined

In [171]:
print(f"Target output: {y_test[:10]}")
print(f"Predicted output: {Z[0][:10]}")

Target output: [['57' '1' '36.1' '117' '181' '108.2' '34' '5' '5.2679' '100']
 ['23' '1' '18.8' '78' '145' '72' '63' '2' '3.912' '86']
 ['48' '1' '29.5' '131' '207' '132.2' '47' '4' '4.9345' '106']
 ['35' '2' '24.1' '94.67' '155' '97.4' '32' '4.84' '4.852' '94']
 ['66' '2' '26' '91' '264' '146.6' '65' '4' '5.5683' '87']
 ['29' '1' '35' '98.33' '204' '142.6' '50' '4.08' '4.0431' '91']
 ['41' '1' '33.8' '123.33' '187' '127' '45' '4.16' '4.3175' '100']
 ['24' '1' '22.5' '89' '141' '68' '52' '3' '4.654' '84']
 ['55' '1' '32.1' '110' '164' '84.2' '42' '4' '5.2417' '90']
 ['51' '2' '22.7' '103' '217' '162.4' '30' '7' '4.8122' '80']]

IndexError: invalid index to scalar variable.